:root{
  --main-bgBlue:rgb(126, 235, 162);
  --main-bgBlue1:rgba(255,255,255,0.4)
}
*{
  margin:0;
  padding:0;
}
.App {
  width:100vw;
  background-color:var(--main-bgBlue);
}

.input{
  border:1px solid red;
}
#editor{
  resize:none;
  background-color:var(--main-bgBlue1);
  box-shadow: 1px 1px 10px 2px #619E9E;
}
